**.iml
*.orig
.idea/*
/municipalityinitiative-loadtests/*.log
/municipalityinitiative-web/node_modules
/municipalityinitiative-web/logs/
/municipalityinitiative-loadtests/*.pyc
/municipalityinitiative-loadtests/results/*.jtl
/municipalityinitiative-web/.classpath
/municipalityinitiative-web/.idea/
/municipalityinitiative-web/.project
/municipalityinitiative-web/.settings
/municipalityinitiative-web/config/app.properties
/municipalityinitiative-web/scrap.jpage
/municipalityinitiative-web/src/main/resources/app.properties
/municipalityinitiative-web/src/main/webapp/css/kuntalaisaloite-ie.css
/municipalityinitiative-web/src/main/webapp/css/kuntalaisaloite-ie.min.css
/municipalityinitiative-web/src/main/webapp/css/kuntalaisaloite-iframe.css
/municipalityinitiative-web/src/main/webapp/css/kuntalaisaloite-graph-iframe.css 
/municipalityinitiative-web/src/main/webapp/css/style-graph-iframe.css
/municipalityinitiative-web/src/main/webapp/css/style-graph-iframe.min.css 
/municipalityinitiative-web/src/main/webapp/css/kuntalaisaloite.css
/municipalityinitiative-web/src/main/webapp/css/print.css
/municipalityinitiative-web/src/main/webapp/css/style-iframe.css
/municipalityinitiative-web/src/main/webapp/css/style-iframe.min.css
/municipalityinitiative-web/src/main/webapp/css/style.css
/municipalityinitiative-web/src/main/webapp/css/style.min.css
/municipalityinitiative-web/src/main/webapp/js/script.js
/municipalityinitiative-web/src/main/webapp/js/script.min.js
/municipalityinitiative-web/src/test/resources/app.properties
/municipalityinitiative-web/src/test/resources/bonecp-config.xml
/municipalityinitiative-web/target
.DS_Store
