.instruction-text {
    display:block;
    font-size: 0.8em;
    color: @secondaryTextColor;
}
// Exception for link-area. Use more generic solution if needed elsewhere also.
.initiative-links-area .instruction-text {
    margin-bottom:1em;


}

.initiative-links-area {
    input[type="text"] {
        height:30px;
        line-height:30px;
        margin-bottom:0;
        padding:0 0.3em;
    }
}

.authentication-selection {

    border: 1px solid @borderGray;
    display: inline-block;
    width:100%;

    .participation-authentication-container, .participation-vetuma-login-container {
        display: inline-block;
        width: 90%;
        padding-bottom: 1rem;
        padding-left: 5%;
        padding-right: 5%;
        .input-block-content {
            width: 100%;
        }
    }

    label.authentication {
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: inline-block;
        width: 50%;
        float:left;
        padding-left: 1rem;
        padding-right: 1rem;

        @media @xs-small-mobile {
            font-size: 14px;
        }

        &.verified {
            padding-left: 8.5%;
            padding-right: 8.4%;
            @media @xs-small-mobile {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &.email {
            @media @xs-small-mobile {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.selected {
            background-color: white;
            border-bottom: 0;
        }

        &:not(.selected) {
            border: 1px solid @borderGray;
            border-top: none;
            cursor: pointer;
            .gradient (#fff, #f1f1f1);
        }

        &:not(.selected).verified {
            border-left: none;
        }

        &:not(.selected).email {
            border-right: none;
        }

        .boxSizing(border-box);

        .transition(opacity, 0.1s, ease-in);

    }

    #action-send-confirm.small-button {
        @media @xs-small-mobile {
            width: 100%;
        }
    }
}

// Input fields
//
// Styleguide 3.2
input[type="text"],
input[type="email"],
input[type="password"], {

    border: 1px solid @borderGray;
    background: #fefefe;
    font-size: 1em;
    padding: 0.3em;
    margin: 0.2em 0em 1em 0em;

    .transition(box-shadow, 0.2s, ease-in);

    &.large {
        //width:581px;
        width:98%;
    }
    &.medium {
        //width:265px;
        width:95%;
    }
    &.medium-fixed {
        width:220px;
    }
    &.small {
        width:60px;
    }
    &.search-field {
        width:250px;
        height:34px;
        line-height:34px;
        padding:0 0.3em;
    }

    &.disabled {
        background:@bodyBackground;
    }
}
.input-placeholder {
    border-color:#fff;
    border-left:0;
    padding:0.3em 0.3em 0.3em 0;
    margin:0.2em 0em 1em 0em;
    font-size: 1em;
    line-height:1.8em;

    &.disabled {
        background:@bodyBackground;
    }
}

textarea {
    width: 98%;
    margin-top:0.2em;
    vertical-align:bottom; // for removing whitespace
    padding:0.3em;
    height: 6em;
    border: 1px solid @borderGray;
    resize:vertical;

    .transition(box-shadow, 0.2s, ease-in);

    &.noresize { resize:none; }

    &.textarea-tall {
        min-height: 17em;
    }
}
textarea:focus, input[type="text"]:focus, .email-input.focus {
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    border: 1px solid #bbb;

}
.js {
    textarea {
        &.collapse {
            height: 1.5em;
            .transition(height, 0.15s, ease-in);
        }
        &.expand {
            height:6em;
        }
    }
}



// for debugging
//.js-invalid { box-shadow: 3px 3px 3px red !important; display:block !important; }


input:-moz-placeholder, textarea:-moz-placeholder { color:#999; }
::-webkit-input-placeholder, ::-webkit-textarea-placeholder { color:#999; }
input:-ms-input-placeholder, input:-ms-textarea-placeholder { color:#999;  }// for IE10

textarea, input[type="text"] {
    font-family: 'PT Sans', "Trebuchet MS", Helvetica, sans-serif;

    &.error {
        border-color:@errorColor !important;  box-shadow:inset 2px 2px 2px rgba(0,0,0,0.1);
    }
}

// Hide honeyspot antispam input field from users
#email { display:none; }

input.datepicker {
    width: 110px;
    margin: 0;
    background: white url("@{imagesPath}/icons-sprite.png?version=${timestamp}") 97px -57px no-repeat;
}

label  {
    display: block;
    //font-size: 0.9em;
    input[type="radio"], input[type="checkbox"] {
        margin: 2px 8px 0 0;
        float: left;

        &.no-float { float:none; }
    }

    .label {
        display:block;
        margin:0 0 0.5em 1.5em;
        line-height:1.2em;
    }

    &.inline { display:inline; }

    input[type="text"]{
        display:block;
    }
}
.disabled-input {
    opacity:@dimmed;
}

.input-header {
    position: relative
    display: block;
    margin-right:30px; // prevent overlapping with help-icon
    margin-bottom: 0.2em;
    font-size: 1.17em;

    &.margin {
        margin-bottom: 0.5em;
    }
}
.initiative-contact-details {
    .input-header {
        margin:0;
    }
}

.alt-lang {
    padding-top:0.2em;
    //font-size:0.9em;
}

// Testing highlighted input-area
.highlighted {
    padding:5px;
    margin:-6px;
    background:#eee;
    border:1px solid @borderGray;
}


.no-horizontal-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.edit-decision {
    margin-bottom: 4em;
}
@media @mobile {
    .input-block-content{
        input[type="text"],
        input[type="email"],
        input[type="password"], textarea {
            padding: 3%;
            width: 94%;
            &.large {
                padding: 3%;
                width: 94%;
            }
            &.medium {
                padding: 3%;
                width: 94%;
            }
            &.medium-fixed {
                padding: 3%;
                width: 94%;
            }

        }

    }
}
.search-choice-close {
    display: none!important;
}
#search-form {
    width: 100%;
    .chzn-container-multi .chzn-choices .search-field .default {
        color: @black;
    }
    .chzn-drop {
        ul {
            background: none!important;
        }
    }

    .search-form-header {
        float: left;
        width: 47.5%;
        @media @mobile, @tablet{
            width: 100%;
        }
        display: inline-block;
        .chzn-container {
            width: 100%!important;
        }
    }
    .search-form-header.full-width {
        width: 100%;
    }
    .municipality-description-wrap {
        float: right;
        display: inline-block;
        width: 47.5%;
        @media @mobile, @tablet{
            width: 100%;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }
        color: @black;
        h1 {
            display: inline-block;
        }
        img {
            float: right;
        }
    }
    #municipality-description-text-wrap {
        img {
            float: left;
            height: 20px;
        }
        span {
            padding-left: 10px;
            color: rgb(153, 153, 153);
        }
        border-bottom: 1px solid rgb(153, 153, 153);
        width: 100%;
        display: inline-block;

        cursor: pointer;
    }
    #municipality-description-text {
        font-size: 14px;
        max-height: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        &.more {
            max-height: 210px;
        }
    }
}

#search-page-form .chzn-container-single .chzn-search {
    display: none;
}

#wrapper.page-find {
    .content-container {
       .page-find& {
           width: auto;
           position: static;
           height: 100%;
       }
    }
    #content {
        padding: 0;
    }
    .om-footer {
        position: static;
    }
}

.search-page-form-wrap {
    border-bottom: 4px solid @mainColorDark;
    height: 100%;
}
.search-page-results-wrap {
    padding-top: 2em;
    background-color: #ebecee;
    height: 100%;
}

#search-page-form {
    .chzn-container-multi .chzn-choices .search-choice {
        background: none;
    }
    color: @mainColor;
    background: initial;
    border-left: none;
    padding-left: 0;
    padding-right: 0;
    .search-parameters-container {
        margin-left: 0;
    }
    .search-parameters-title {
        width: 100%;
        margin-left: initial;
    }
    .single-search-parameter-container {
        &:first-child {
            margin-right: 5%;
        }
        width: 30%;
        display: inline-block;
        .search-parameters.four-items a, .search-parameters.three-items a {
            width: 100% !important;
            float: initial;
            padding: 0;
        }
        .search-parameters {
            width: 100%;
            border: none;
            background: none;
            .chzn-single {
                background-color: #feffff;
            }
            .chzn-drop {
                width: 100%!important;
                box-sizing: content-box;
            }
        }
        .chzn-container {
            width: 100%!important;
        }
        &:last-child {
            float: right;
        }
    }
    .single-search-parameter-container {
        &:nth-child(2) {
            margin: auto;
        }
        &:last-child {
            float: right;
        }
    }
}
//#EBECEE

//generalize this later
#form-preparation, #search-page-form {
    .chzn-select {
        width: 100%;
    }
    .chzn-container .chzn-single {
        color: #393a3c;
        padding: 0 10px;
        div {
            b {
                background: url("@{imagesPath}/arrows_down.png?version=${timestamp}") no-repeat -4px 50%;
                background-size: 30px;
            }
            border-style: none;
            background: none;
            &:hover {
                background: none;
            }
        }
        li {
            padding: 5px 10px;
        }
        span {
            text-align: left;
            margin-left: 10px;
            margin-right: 33px;
        }
        &:nth-child(2) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .chzn-container.chzn-container-single a{
        &:hover {
            background: white none;
            color: rgb(153, 153, 153);
        }
    }
    .chzn-choices {
        &:hover {
            input {
                color: rgb(153, 153, 153)!important;
            }
        }
    }

    .chzn-container-multi {
        ul {
            background: #feffff url(http://localhost:8080/img/arrows_down.png?version=${timestamp}) no-repeat 99.3% 50%;
            background-size: 30px;
            line-height: 36px;
            cursor: pointer;
            input {
                cursor: pointer;
            }
        }
    }


    .chzn-container .chzn-single.chzn-single-with-drop div b {
        background: url("@{imagesPath}/arrows_down.png?version=${timestamp}") no-repeat -4px 50%;
        background-size: 30px;
    }
    .chzn-container .chzn-results {
        margin: 0;
    }

    .send-button-block {
        @media @xs-small-mobile {
            padding-left: 0;
            padding-right: 0;
            margin: auto;
            width: 80%;
            display: table;
        }
    }

    .small-button {
        height: 36px;
        width: 250px;
        margin: 0;
        @media @xs-small-mobile {
            width: 100%;
        }
    }
    .mask-send {
        @media @xs-small-mobile {
            width: 100%;
        }
    }
    .input-block.form-block-container {
        background: none;
        border-color: rgba(255, 255, 255, .0);
    }
    .input-block-content.float-init {
        margin: 0;
    }
}
#participation-criterion {
    div {
        display: flex;
    }
    input {
        margin: auto 8px auto 0px;
    }
}
