.frontpage-image (@index:1) {
    background-image:url("@{imagesPath}/front-images/front-strip-@{index}.jpg?version=${timestamp}");
}

.frontpage-image-retina (@index:1) {
    background-image:url("@{imagesPath}/front-images/front-strip-@{index}-2x.jpg?version=${timestamp}");
}

// Frontpage
.image-container {
    position:relative;
    height:370px;
    border:10px solid #fff;
    border-top:0;
    background-color: #fff;
    background-position: center top;
    background-repeat: repeat-x;

    .frontpage-image(1);

    &.image-2 {
    	.frontpage-image(2);
    }
    &.image-3 {
    	.frontpage-image(3);
    }
    &.image-4 {
    	.frontpage-image(4);
    }

    @media @highdensity {
    	background-size: cover;

    	.frontpage-image-retina(1);

		&.image-2 {
	    	.frontpage-image-retina(2);
	    }
	    &.image-3 {
	    	.frontpage-image-retina(3);
	    }
	    &.image-4 {
	    	.frontpage-image-retina(4);
	    }
    }

}

.front .container {
	position: relative;
	padding: 0 10px;
}
.big-link-holder {
    position: absolute;
    top: -380px;
    left: 10px;
    width: 470px;
    height:370px;

    .big-link {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        padding:42px 50px 45px 100px;

        font-size: 40px;
        color: #fff;
        background: @mainColorLight;

        .transition(background-color, 0.2s, ease-in);

        &:hover {
            background-color:@mainColor;
        }

        .arrow {
            position: relative;
            top: 0.1em;
            left: 0.45em;
            display: inline-block;
            width: 29px;
            height: 29px;
            background: url("@{imagesPath}/icons-sprite.png?version=${timestamp}") -192px -96px no-repeat;
        }
    }
}

.front-container {
    min-height:441px;
    margin:0 -60px 0px -66px;
    padding:0 0 0 66px;
    //background:url("@{imagesPath}/bg-front.jpg?version=${timestamp}") -2px 0 no-repeat;

    .faux-columns {
        width:960px;
        margin-bottom:50px;
        background:url("@{imagesPath}/faux-columns.png?version=${timestamp}") 0 0 repeat-y;

        .col-1 {
            width:470px;
            float:left;
        }
        .col-2 {
            width:470px;
            float:right;
        }
    }

    .front-block {
        padding:0 50px 45px 100px;
        margin-top: 37px;

        background:url("@{imagesPath}/block-icons.png?version=${timestamp}") 30px 0 no-repeat;

        &.block-2 {
            padding-bottom:50px;
            background-position:-970px 0;
            border-bottom:20px solid @bodyBackground;
        }
        &.block-3 {
            background-position:-1970px 0;
        }

        .bottom {
            padding-top:1.8em;
        }
    }

    h1 {
        font-size: 1.3em;
        margin:0 0 1.5em 0;
        line-height: 1.25em;
        color:#7a7a20;
    }

    .initiative-list {
        li {
            margin-bottom: 1em;

            .date {
                display: block;
                color:#555;
                font-size: 0.85em;
            }
        }
    }
}