.circle(@size, @color){
	display: inline-block;
	width: @size;
	height: @size;
	line-height: @size;
	margin-bottom: 0.3em;
	background-color: @color;

	.rounded-corners(100%);
}

.infoGraphSprite(@xIndex, @yIndex, @offsetSize: 100px){
	background-repeat: no-repeat;
	background-position: (-@xIndex*@offsetSize) (-@yIndex*@offsetSize);

	@media @highdensity {
		background-size: 300px 400px;
	}
}

.infoGraphVerticalCenter(@height){
	display: block;
	position: relative;
	top: 50%;
	margin:-@height/2 auto 0 auto;
}

.info-graph {

	background: #fff;
	text-align: center;

	h4 {
		margin-bottom: 0;
		font-size: 0.9em;
	}

	p {
		font-size: 0.9em;

		&.small {
			font-size: 0.8em;
		}
	}

	.span {
		display: block;
		float: left;

		padding: 0 10px;

		.boxSizing();
	}
	.span-1 { width: 1/3 * 100%; }
	.span-2 { width: 2/3 * 100%; }
	.span-3 { width: 100%; }

	.block {
		margin-bottom: 8px;
		background: #f8f8f8;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.top-pad {
		padding-top: 40px;
	}

	.header {
		float: left;
		width: 22%;
		text-align: center;
	}

	.content {
		min-height: 260px;
		margin-left: 22%;
		padding-left: 30px;
		padding-right: 30px;
		background: #fff;

		* { line-height: 1.2; }
	}

	.order {
		.circle(58px, #fff);
		font-size: 2em;
	}

	.type {
		.circle(88px, #f0f0f0);	
	}

	.icon {
		display: inline-block;

		background-image: url("../../img/info-graph-icons.png?version=${timestamp}");

		@media @highdensity {
			background-image: url("../../img/info-graph-icons-2x.png?version=${timestamp}");
			background-size: 300px 400px;
		}

		&.member {
			width: 50px;
			height: 49px;

			.infoGraphSprite(0, 0);
		}

		&.right-to-vote {
			width: 50px;
			height: 49px;

			.infoGraphSprite(1, 0);
		}

		&.normal {
			width: 30px;
			height: 41px;
			//vertical-align: middle;

			.infoGraphVerticalCenter(41px);
			.infoGraphSprite(0, 1);
		}

		&.two-percent {
			width: 30px;
			height: 41px;
			//vertical-align: middle;

			.infoGraphVerticalCenter(41px);
			.infoGraphSprite(1, 1);
		}

		&.five-percent {
			width: 30px;
			height: 41px;
			//vertical-align: middle;

			.infoGraphVerticalCenter(41px);
			.infoGraphSprite(2, 1);
		}

		&.no-collect {
			width: 90px;
			height: 56px;

			.infoGraphSprite(0, 2);
		}

		&.collect {
			width: 90px;
			height: 56px;

			.infoGraphSprite(1, 2);
		}

		&.municipality {
			width: 77px;
			height: 79px;

			.infoGraphSprite(0, 3);
		}

	}

}