@infoGraphGreen: #acab39;
@infoGraphBlack: #474747;

@infoGraphHorLineWidth: 5px;
@infoGraphVerLineWidth: 14px;
@infoGraphArrowHeight: 21px;

.circle(@size, @color){
	display: inline-block;
	width: @size;
	height: @size;
	line-height: @size;
	margin-bottom: 0.3em;
	background-color: @color;

	.rounded-corners(100%);
}

.infoGraphSprite(@xIndex, @yIndex, @offsetSize: 100px){
	background-repeat: no-repeat;
	background-position: (-@xIndex*@offsetSize) (-@yIndex*@offsetSize);
}

.infoGraphVerticalCenter(@height){
	display: block;
	position: relative;
	top: 50%;
	margin:-@height/2 auto 0 auto;
}

.info-graph {

	background: #fff;
	text-align: center;

	h4 {
		margin-bottom: 0;
	}

	p {
		font-size: 0.9em;

		&.small {
			font-size: 0.8em;
		}
	}

	.span {
		display: block;
		float: left;

		padding: 0 10px;

		.boxSizing();

		.ie7 & {
			padding: 0 1%;
		}
	}
	.span-1 {
		width: 1/3 * 100%;

		.ie7 & {
			width: 31%;
		}
	}
	.span-2 {
		width: 2/3 * 100%;

		.ie7 & {
			width: 62%;
		}
	}
	.span-3 { width: 100%; }

	.block {
		margin-bottom: 8px;
		background: #f8f8f8;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.top-pad {
		padding-top: 40px;
	}

	.header {
		float: left;
		width: 22%;
		text-align: center;

		h3 {
			padding: 0 20px;
		}
	}

	.content {
		min-height: 260px;
		margin-left: 22%;
		padding-left: 30px;
		padding-right: 30px;
		background: #fff;

		* { line-height: 1.2; }

		.c-group { position: relative; }
		.c-group-1 {  }
		.c-group-2 { padding:40px 0; }
		.c-group-3 { }
		.c-group-4 { padding-top: 20px; }
		.c-group-5 { padding-top: 50px; }
	}

	.order {
		.circle(58px, #fff);
		font-size: 2em;

		.ie7 &, .ie8 & {
			background:url("../../img/ie/info-graph-circles-fallback.png?version=${timestamp}") 0 0 no-repeat;	
		}
	}

	.type {
		.circle(88px, #f0f0f0);

		.ie7 &, .ie8 & {
			background:url("../../img/ie/info-graph-circles-fallback.png?version=${timestamp}") -100px 0 no-repeat;	
		}
	}

	.icon {
		display: inline-block;
		margin-bottom: 0.5em;

		background-image: url("../../img/info-graph-icons.png?version=${timestamp}");

		@media @highdensity {
			background-image: url("../../img/info-graph-icons-2x.png?version=${timestamp}");
			background-size: 300px 400px;
		}

		&.member {
			width: 50px;
			height: 49px;

			.infoGraphSprite(0, 0);
		}

		&.right-to-vote {
			width: 50px;
			height: 49px;

			.infoGraphSprite(1, 0);
		}

		&.icon-type {
			width: 30px;
			height: 41px;

			.infoGraphVerticalCenter(41px);
		}

		&.normal {
			.infoGraphSprite(0, 1);
		}

		&.two-percent {
			.infoGraphSprite(1, 1);
		}

		&.five-percent {
			.infoGraphSprite(2, 1);
		}

		&.no-collect {
			width: 90px;
			height: 56px;

			.infoGraphSprite(0, 2);
		}

		&.collect {
			width: 90px;
			height: 56px;

			.infoGraphSprite(1, 2);
		}

		&.municipality {
			width: 77px;
			height: 79px;

			.infoGraphSprite(0, 3);
		}

	}

	.lines {
		position: relative;
		height: 35px;

		&.line-group-1 { top: 18px; }
		&.line-group-2 { top: -46px; }
		&.line-group-3 { top: -46px; }
		&.line-group-4 { top: -46px; }

		.line {
			position: absolute;
			height: @infoGraphHorLineWidth;
			clear: both;

			&.left { left: 0; }
			&.right { right: 0; }

			&.line-20 { width: 80px; }
			&.line-50 { width: 245px; }
			&.line-55 { width: 325px; }
			&.line-60 { width: 327px; }
			&.line-70 { width: 410px; }

			&.pullup {
				top: -9px;

				.arrow {
					height: @infoGraphArrowHeight + 9px;
				}
			}

			&.green {
				background: @infoGraphGreen;

				.arrow {
					background: @infoGraphGreen;
				}

				.arrow-down {
					border-top: 8px solid @infoGraphGreen;
				}
			}

			&.black {
				background: @infoGraphBlack;

				.arrow {
					background: @infoGraphBlack;
				}

				.arrow-down {
					border-top: 8px solid @infoGraphBlack;
				}
			}
		

			.arrow {
				position: absolute;
				top: @infoGraphHorLineWidth;
				width: @infoGraphVerLineWidth;
				height: @infoGraphArrowHeight;

				// general
				&.right { right: 0; }
				&.left { left: 0; }
				&.middle { left: 50%; }

				// custom: group-line-arrow
				&.arrow-1-2-2 { right: 240px; }
				&.arrow-1-2-3 { right: 76px; }
				&.arrow-2-1-1 { left: 75px; }

				.arrow-down {
					position: absolute;
					left: 0;
					bottom: -8px;
					width: 0; 
					height: 0; 
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
				}

			}

		}
	}

}