// Search results
//
// Styleguide 9.

.switch-view {
    border-left: 1px solid @borderGray;
    margin-left: 1em;
    padding-left: 1.3em;
    font-size:0.725em;
    font-weight:normal;
}
h3 {
    .switch-view { font-size:0.855em; }
}
@media @mobile {
    .switch-view {
        display: none;
    }
}
.search-options {
    margin-bottom:2em;

    padding: 20px  35px 30px 55px;

    @media @mobile {
        display: none;
    }
    
    @media @tablet  {
        padding: 20px 35px 30px 20px;
    }

    .search-form {
        float: left;
        width: 80%;

        button {
            margin-left:32px;
            vertical-align:bottom;
        }

        select {
            margin-top:0.5em;
        }
    }

    .chzn-container {
        .chzn-single { margin-top:0; }
    }
}
.search-terms {
    @media @mobile {
        display: none;
    }
    margin-bottom:2em;

    .search-term {
        font-style:italic;
        font-weight:bold;
    }
}
.search-results {
    ul {
        margin:0 0 1em 0;
        padding:0;
        list-style:none;

        color:@secondaryTextColor;
        border-top:1px solid #ddd;
        border-bottom:1px solid #f3f3f3;
    }

    li {
        overflow:hidden; // clearfix
        position:relative;
        display:block;
        border-bottom:1px solid #ddd;
        border-top:1px solid #f3f3f3;

        &.first {
            border-top:1px solid #f3f3f3;
        }

        &:hover { background:#eaeaea; }

        a {
            display:block;
            padding:0.7em 0.3em;
        }
    }

    @media @mobile {
        ul {
            border: none;
        }
        li {
            background-color: white;
            margin: 7px 0;
            border: none;
            height: 130px;
            padding-left: 15px;
            position:relative;
            a {
                height: 130px;
                padding: 0;
                .participants{
                    border-left: solid;
                    border-color: rgb(240, 240, 240);
                    padding: 10px 3px;
                    height: 130px;
                    text-align: center;
                    .participant-count{
                        background: none;
                    }

                }
                .title {
                    position: absolute;
                    top: 3em;
                    font-weight: bold;
                    margin-right: 6em;
                }
                .date {
                    position: absolute;
                    top: 5px;
                }
                .municipality-search-result{
                    position: absolute;
                    top: 5px;
                    left: 100px;
                }
                .state{
                    position: absolute;
                    bottom: 5px;
                    left: 15px;
                }
                .info {


                    .bull {
                        display: none;
                    }
                    .initiative-type{
                        position: absolute;
                        top: 25px;
                    }
                }

            }
        }

    }

    .date {
        float:left;
        color: @secondaryTextColor;
    }
    .title {
        display:block;
        margin:0 15em 0 100px;
    }
    .info {
        display:block;
        font-size:0.9em;
        margin-left:100px;
        color: @secondaryTextColor;
    }


    @media @mobile, @tablet  {
        .date {
            float: none;
            color: @secondaryTextColor;
        }
        .title {
            display:block;
            margin:0 0 0 0;
        }
        .info {
            display:block;
            font-size:0.9em;
            margin-left:0px;
            color: @secondaryTextColor;
        }
    }

    /*.state {
        margin-left:1em;
    }*/
    .bull {
        margin:0 0.5em;
        font-size:0.8em;
        color:@borderGray;
    }

    .participants {
        float:right;
        @media @mobile {
            width:5em;
        }
        width:15em;
        text-align:right;

        .participant-count {
            padding-right:42px;
            font-size:1.45em;
            font-style:italic;
            color:@bodyColor;
            text-shadow:0 1px 0 rgba(255,255,255,0.3);

            /*
            background:url("@{imagesPath}/icons-search.png?version=${timestamp}") no-repeat right -125px;

            &.one {
                background-position:right -189px;
            }*/

            // 24px
            background:url("@{imagesPath}/icons-search.png?version=${timestamp}") no-repeat right -119px;

            &.one {
                background-position:right -183px;
            }
        }

        .no-participants {
            font-style:italic;
            font-size:0.9em;
            color: @secondaryTextColor;
        }
    }
}

// Search filtering
//
// Styleguide 9.1
.search-parameters-title {

    float:left;
    &.filter {
        line-height:35px;
    }
    width:6.3em;

    &.sort {
        padding:0.1em 0;
    }
}

// Search filtering
//
//  .active     - Active link
//  :hover      - Hovered link
//
// Styleguide 9.1
.search-parameters-container {


    margin-bottom:1em;
    //margin-left:100px;

    /*
    .search-parameters {

        &:first-child {
            margin-bottom:0.2em;
        }

        a {
            padding:0 10px;
        }
    }*/


}


.search-parameters {
    @media @mobile {
        br {
            display: none;
        }
    }
    >a{
        display: none;
    }

    display:inline-block;
    margin-bottom:0.2em;
    text-align:right;
    border:1px solid @borderGray;

    .gradient (#fff, #f5f5f5);


    &.three-items {

        @media @tablet {
            width: 75%;
            a {
                width: 33.3333%;

            }
        }
    }

    &.four-items {

        @media @tablet {
            width: 100%;
            a {
                width: 25%;
            }
        }
    }

    a {

        span {
            display: none;
        }
        display:inline-block;
        padding:5px 20px;


        color:#444;
        text-align:center;


        &:hover {
            .gradient (#fff, #ddd);
            color:#000;
        }

        &.active {
            .gradient (#adad2d, #7a7a20);
            color:#fff;
            text-shadow:0px 1px 1px rgba(0,0,0,0.3);
        }

        .count {
            display:block; margin:0 auto;
            font-weight:bold;
            font-size:0.9em;
        }
        vertical-align: top;


        @media @tablet {
            padding:5px 0;
            height: 75px;
            vertical-align: top;
            span {
                display: inline;
            }
        }

    }


}

// Search filtering
//
//  .by-support-statements      - Sort by support statements
//
// Styleguide 9.2
.search-sort {

    width:auto;
    @media @mobile {
        display: none;
    }

}
.icon-search-sort {
    margin-right:0.5em;
    background:url("@{imagesPath}/icons-search.png?version=${timestamp}") no-repeat 0 0;

    @media @mobile {
        display: none;
        /*&.by-support-statements {
            margin-right: 0;
            .text-content {
                display: none;
            }
        }*/
    }
    &.by-support-statements {
        background-position:0 -126px;
    }

    &.by-date-accepted {
        margin-right:0;
    }

}

// Pagination
//
// Styleguide 9.3

.pagination {

    @media @mobile {
        display: none;
    }

    margin:2em 0 1em;

    &.bottom {
        margin-top:1em;
    }


    .pagination-limiter {
        float:right;

        * { margin-left:1em; }

        .active {
            font-weight:bold;
        }
    }

    .pagination-links {
        float:left;
    }

    .separator {
        margin:0 0.5em;
        color:@lightGray;
    }

    .page-numbers {
        margin:0 1em;
    }

    span.next, span.prev {
        opacity:@dimmed;
        //color:@lightGray;
    }
}
.pagination-number-container {
    text-align:center;
}
.pagination-numbers {

    a {
        margin:0 0.2em;
        padding:0.2em 0.5em;
        //background:#fff;
        color:#444;
        .gradient (#fff, #f5f5f5);
        border:1px solid @borderGray;

        &:hover {
            .gradient (#fff, #ddd);
            color:#000;
        }

        &.next, &.prev {
            background:none;
            border:none;
            color:@link;
        }
    }
    span {
        margin:0 0.2em;
        padding:0.2em 0.5em;
        .gradient (#09a3b4, #067582);
        border:1px solid @borderGray;
        color:#fff;
    }

}

.show-more {
    display: none;
}

.search-options-mobile, .open-filters {
    display: none;
}
@media @mobile {    
    .show-more {
        display: block;
    }
    .open-filters{

        display: block;
        width: 80%;
        margin:  0 auto;
        color: white;
        padding: 7px 50px 7px 15px ;
        background-color: @mainColorLight;
        border-radius: 2px;
        position: relative;

        h1 {
            margin: 10px auto;

        }
        .arrow {
            position: absolute;
            display: inline-block;
            width: 29px;
            height: 29px;
            right: 20px;
            top: 12px;
            background: url("@{imagesPath}/icons-sprite.png?version=${timestamp}") -192px -96px no-repeat;
        }
    }

    .search-options-mobile {
        display: none;
        &.open{
            display: block;
        }
        height: 100%;
        position: relative;
        z-index: 100;
        width: 100%;
        padding: 0;
        top: 10px;
        border: none;
        background-color: @mainColorLight;
        color: white;



        .mobile-search-link{

                display: block;
                margin-top: 1em;
                a {
                    display: block;
                    color: white;

                }
        }
        input[type=radio] {
            display: none;
        }
        label:before  {
            content: "";
            display: inline;
            float: left;
            height: 20px;
            width: 20px;
            margin-right: 10px;
            background-color: white;
            border-radius: 10px;

        }
        input[type=radio]:checked  + label:before {

            border: solid 5px @mainColorDark;
            height: 10px;
            width: 10px;


        }
        .run-search-mobile {

            display: block;
            width: 125px;
            margin: 1em auto;
            background-color: white;
            color: @mainColorLight;
            text-align: center;
            padding: 10px 0;
            border: none;
            border-radius: 2px;

        }
        .search-parameters-wrapper {
            padding: 10px;

            h3 {
                margin: 20px 0 0 0;
                font-weight: bold;
                font-size: 14px;
                color: white;
            }

            .search-filters-title {
                color: white;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin: 1em;
                position: relative;
                height: 29px;

                .arrow {
                    position: absolute;
                    left: -0.7em;
                    display: inline-block;
                    width: 29px;
                    height: 29px;
                    background: url("@{imagesPath}/icons-sprite.png?version=${timestamp}") -192px -96px no-repeat;

                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);

                }


            }

        }
    }


}

