@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PTSans-Regular.eot);
  src: local("PT Sans"), local("PTSans-Regular"),
       url(fonts/PTSans-Regular.eot?#iefix) format("embedded-opentype"),
       url(fonts/PTSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/PTSans-Bold.eot);
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url(fonts/PTSans-Bold.eot?#iefix) format("embedded-opentype"),
       url(fonts/PTSans-Bold.woff) format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(fonts/PTSans-Italic.eot);
  src: local("PT Sans Italic"), local("PTSans-Italic"),
       url(fonts/PTSans-Italic.eot?#iefix) format("embedded-opentype"),
       url(fonts/PTSans-Italic.woff) format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(fonts/PTSans-BoldItalic.eot);
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"),
       url(fonts/PTSans-BoldItalic.eot?#iefix) format("embedded-opentype"),
       url(fonts/PTSans-BoldItalic.woff) format("woff");
}