html{height:100%;font-size:16px;}
body{height:100%;font-family:'PT Sans',"Trebuchet MS",Helvetica,sans-serif;color:#444444;background:#f0f0f0;}
#wrapper{position:relative;min-height:100%;}
.container{width:960px;margin:0 auto;clear:both;}
#content{padding-bottom:250px;}
.two-column-content .content-column{width:640px;float:left;margin-right:20px;}
#accesskeys,#back-to-top{position:absolute;left:-9999px;}
.debug-ribbon,.info-ribbon{position:relative;z-index:9999;left:0;width:100%;padding:0.7em 0;background:#64aad0;background:-webkit-gradient(linear, left top, left bottom, from(#8dc8e8), to(#64aad0));background:-moz-linear-gradient(top, #8dc8e8, #64aad0);background:-o-linear-gradient(top, #8dc8e8, #64aad0);text-align:center;font-size:16px;text-shadow:0 1px 0 rgba(0, 0, 0, 0.1);color:#fff;}.debug-ribbon.static,.info-ribbon.static{position:static;}
.debug-ribbon.ribbon-red,.info-ribbon.ribbon-red{background:#e80a13;background:-webkit-gradient(linear, left top, left bottom, from(#e80a13), to(#b51105));background:-moz-linear-gradient(top, #e80a13, #b51105);background:-o-linear-gradient(top, #e80a13, #b51105);}.debug-ribbon.ribbon-red a,.info-ribbon.ribbon-red a{color:#eee;}
.debug-ribbon.ribbon-turquoise,.info-ribbon.ribbon-turquoise{background:#017380;background:-webkit-gradient(linear, left top, left bottom, from(#018999), to(#017380));background:-moz-linear-gradient(top, #018999, #017380);background:-o-linear-gradient(top, #018999, #017380);}
.debug-ribbon.top,.info-ribbon.top{top:0;box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);}
.debug-ribbon.bottom,.info-ribbon.bottom{position:absolute;bottom:0;}
.debug-ribbon a,.info-ribbon a{color:#cde6f3;text-decoration:underline;font-style:italic;transition:color 0.3s ease-in;-moz-transition:color 0.3s ease-in;-webkit-transition:color 0.3s ease-in;-o-transition:color 0.3s ease-in;}
.debug-ribbon a:hover,.info-ribbon a:hover{color:#fff;}
.container.relative{position:relative;}
.test-padge{position:absolute;top:50px;left:423px;width:180px;height:97px;background:url("../img/test-padge.png?version=${timestamp}") repeat-x bottom left;}.test-padge.has-info-ribbon{top:90px;}
#header-tools{height:40px;width:100%;background:#f1f1f1 url("../img/other-services-bg.png?version=${timestamp}") repeat-x bottom left;position:relative;z-index:2;}#header-tools .logged-in-info{font-size:0.9em;border-left:1px solid black;border-right:1px solid #5a5a5a;float:right;}#header-tools .logged-in-info .header-tool-link,#header-tools .logged-in-info .header-tool-text{position:relative;color:#b7b7b7;padding:0 38px 0 15px;line-height:40px;float:left;display:block;border-left:1px solid #5a5a5a;border-right:1px solid black;margin:0px;}#header-tools .logged-in-info .header-tool-link.login,#header-tools .logged-in-info .header-tool-text.login{padding:0 15px 0 15px;}
#header-tools .logged-in-info .header-tool-link:hover{color:white;}
#header-tools .logged-in-info .header-tool-text{padding:0 15px;}
#header-tools #header-tools-content{text-align:right;width:960px;margin:0 auto;position:relative;}#header-tools #header-tools-content #aloite-links{float:left;overflow:hidden;height:40px;}#header-tools #header-tools-content #aloite-links a{display:inline-block;padding:7px 20px 30px 20px;background:#b7b7b7;margin:8px 10px 0px 0px;color:#393939;z-index:999;font-size:0.9em;-webkit-border-radius:0.8em;-moz-border-radius:0.8em;border-radius:0.8em;}
#header-tools #header-tools-content #aloite-links a.active{background:white;border:none;color:black;}
#header-tools #header-tools-content #aloite-links a:hover{color:black;}
#header-tools #header-tools-content img{margin-top:5px;}
#header-tools #header-tools-content .other-services-container{position:relative;float:left;}
#header-tools #header-tools-content .other-services-select{float:left;color:#b7b7b7;font-size:0.9em;margin:9px 0px 0px 6px;padding:5px 3px 10px 10px;z-index:998;}#header-tools #header-tools-content .other-services-select:hover{color:#fff;}
#header-tools #header-tools-content .other-services-select .icon-small{margin:0 0 -2px 3px;}
#header-tools #header-tools-content .other-services-select.active{border:1px solid silver;border-bottom:0;z-index:999;color:#444;background:#fff;}#header-tools #header-tools-content .other-services-select.active .icon-small.dropdown-icon{background-position:-96px -13px;}
.dropdown{position:relative;float:left;}
.dropdown-menu{display:none;position:absolute;top:36px;left:6px;text-align:left;background:white;border:1px solid silver;border-top:0px;padding:8px;list-style:none;z-index:998;font-size:80%;width:13em;box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);}.dropdown-menu.user-menu{left:auto;right:0;top:40px;}
.dropdown-menu a{display:block;color:#444;border-top:1px solid #f1f1f1;padding:5px;margin:0px;}
.dropdown-menu li:first-child a{border-top:none;}
.dropdown-menu a:hover{color:black;background:#f1f1f1;}
.no-js #header-tools #header-tools-content .other-services-container:hover .other-services-select,.no-js #header-tools #header-tools-content .logged-in-info:hover .other-services-select{border:1px solid silver;border-bottom:0;z-index:999;color:#444;background:#fff;}.no-js #header-tools #header-tools-content .other-services-container:hover .other-services-select .icon-small.dropdown-icon,.no-js #header-tools #header-tools-content .logged-in-info:hover .other-services-select .icon-small.dropdown-icon{background:#ffffff url("../img/icons-sprite.png?version=${timestamp}") no-repeat -96px -13px;}
.no-js #header-tools #header-tools-content .other-services-container:hover .dropdown-menu,.no-js #header-tools #header-tools-content .logged-in-info:hover .dropdown-menu{display:block;}
#header{width:100%;padding-top:18px;margin-bottom:1.3em;background:#fff;border-bottom:1px solid #cccccc;}#header #header-content{position:relative;height:130px;width:960px;margin:0 auto;}#header #header-content #header-additional-content{position:absolute;right:0px;top:20px;text-align:right;}
#header #logo{display:block;width:345px;height:72px;background:url("../img/logo-kuntalaisaloite.png?version=${timestamp}") 0 0 no-repeat;}
#header #logo span{display:none;}
#header #main-navigation{margin:0;padding:0;position:absolute;left:0;bottom:0;border-left:1px solid #ccc;}#header #main-navigation a{display:inline-block;text-decoration:none;color:#111;font-size:1.1em;padding:0.2em 0.9em 0.5em 0.9em;border-right:1px solid #cccccc;transition:color 0.2s ease-in;-moz-transition:color 0.2s ease-in;-webkit-transition:color 0.2s ease-in;-o-transition:color 0.2s ease-in;}
#header #main-navigation a:hover,#header #main-navigation .active a:hover{color:#d94e9c;}
#header #main-navigation .active a{color:black;font-weight:bold;}
.sv.font-size-large #header #main-navigation a{padding:0.2em 0.5em 0.5em 0.5em;}
.sv #header #logo{width:406px;background:url("../img/logo-sv.png?version=${timestamp}") 0 0 no-repeat;}
.navi{margin:0.3em 1em 0 0;padding:0;}.navi.block-style li{display:block;}
.navi.block-style li a{display:block;margin-bottom:1em;}
.navi.block-style li .active{font-weight:bold;}
#breadcrumb{padding-top:10px;margin-left:-10px;margin-bottom:5px;color:#9f9f9f;font-size:0.9em;}#breadcrumb ul li{margin:0px;}
#breadcrumb a,#breadcrumb span{color:#9f9f9f;text-decoration:none;margin:0px 10px;}
.additional-tools{font-size:90%;margin:0.5em 1em;width:400px;}
.font-size{padding-left:0.6em;margin-left:0.2em;border-left:1px solid #cccccc;}
.font-size-toggle{margin-left:0.5em;}.font-size-toggle .font-size-small-link{-webkit-border-top-left-radius:0.8em;-webkit-border-bottom-left-radius:0.8em;-moz-border-radius-topleft:0.8em;-moz-border-radius-bottomleft:0.8em;border-top-left-radius:0.8em;border-bottom-left-radius:0.8em;}
.font-size-toggle .font-size-medium-link{border-left:1px solid white;}
.font-size-toggle .font-size-large-link{border-left:1px solid white;-webkit-border-top-right-radius:0.8em;-webkit-border-bottom-right-radius:0.8em;-moz-border-radius-topright:0.8em;-moz-border-radius-bottomright:0.8em;border-top-right-radius:0.8em;border-bottom-right-radius:0.8em;}
.font-size-toggle .active{color:#d94e9c;}
.font-size-toggle a span{display:inline-block;*zoom:1;padding:0 10px;}
.push{position:relative;left:1em;}
.pull{position:relative;left:-1em;}
.pushdown{position:relative;top:1em;}
.pullup{position:relative;top:-1em;}
.hide,.js .js-hide{display:none;}
html.no-js .hidden,html.no-js .help,html.no-js .close-msg{display:none;}
.loading{position:absolute;left:0;top:0;z-index:9999;width:100%;height:100%;background:#ffffff url("../img/ajax-loader.gif?version=${timestamp}") center center no-repeat;opacity:0;}
.loader{position:absolute;left:50%;top:50%;display:inline-block;width:16px;height:16px;margin:-8px;background:url("../img/ajax-loader.gif?version=${timestamp}") center center no-repeat;}.loader.gray-loader{background:url("../img/ajax-loader-f7f7f7.gif?version=${timestamp}") center center no-repeat;}
.expose-mask{z-index:999;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;opacity:0.9;}
.clear{clear:both;}
body.font-size-small,span.font-size-small{font-size:80%;}
body.font-size-medium,span.font-size-medium{font-size:100%;}
body.font-size-large,span.font-size-large{font-size:110%;}
#header ul,#other-services ul,#breadcrumb ul{margin:0px;padding:0px;list-style:none;}#header ul li,#other-services ul li,#breadcrumb ul li{display:inline;}
a{text-decoration:none;color:#0089f2;cursor:pointer;outline:none;}
a:hover{color:#0070c5;outline:none;}
a:active,a:focus{outline:none;}
a.external{padding-right:15px;background:url("../img/icon-external-link.png?version=${timestamp}") right center no-repeat;}
.ellipsis{display:inline-block;max-width:90%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
a.block-link{display:block;height:38px;line-height:38px;margin-bottom:1em;padding:0 2.5em 0 0.9em;background:#017380 url("../img/icons-sprite.png?version=${timestamp}") right -149px no-repeat;color:#fff;font-weight:bold;transition:background-color 0.2s ease-in;-moz-transition:background-color 0.2s ease-in;-webkit-transition:background-color 0.2s ease-in;-o-transition:background-color 0.2s ease-in;}a.block-link:hover{background-color:#015c66;}
.sv.font-size-large a.block-link{font-size:16px;}
.news-date{display:block;margin-bottom:1em;font-weight:bold;border-bottom:1px solid #cccccc;}
.front-container{min-height:441px;margin:-10px -60px 0px -66px;padding:325px 0 0 66px;}.front-container .faux-columns{width:960px;margin-bottom:50px;background:url("../img/faux-columns.png?version=${timestamp}") 0 0 repeat-y;}.front-container .faux-columns .col-1{width:470px;float:left;}
.front-container .faux-columns .col-2{width:470px;float:right;}
.front-container .front-block{padding:0 50px 20px 100px;background:url("../img/block-icons.png?version=${timestamp}") 30px 0 no-repeat;}.front-container .front-block.block-2{background-position:-970px 0;border-bottom:20px solid #f0f0f0;}
.front-container .front-block.block-3{padding-top:30px;background-position:-1970px 30px;}
.form-block-container{margin-bottom:2em;}
.initiative-content-header{position:relative;}
.input-block,.view-block{position:relative;background:#ffffff url("../img/input-block-extra-bg.png?version=${timestamp}") repeat-y top right;border-left:4px solid #017380;padding:0 35px 30px 55px;}.input-block.vote,.view-block.vote{padding-top:20px;background:#fff;}
.input-block.faq-item,.view-block.faq-item{margin-bottom:0;padding-top:0;}
.input-block .system-msg,.view-block .system-msg{margin:5px 0;border:0;}
.view-block{margin-bottom:3em;padding-top:35px;background:#fff;}.view-block.last{margin-bottom:2em;}
.input-block{width:866px;}.input-block .input-block-action{width:585px;}
.pad{padding:10px 20px;background:#f1f1f1;border-radius:3px;}.pad.margin{margin:0.5em 0 1em 0;}
.pad .table{margin:0;}
.expose{position:relative;z-index:1000;}.expose .msg-summary,.expose .content-block-header{box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);}
.expose .input-block{box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);}
.extra-column{font-size:0.9em;}.extra-column h2{color:#00b4af;font-size:1.2em;}
.sidebar{float:left;width:300px;}
#form-action-panel{text-align:center;clear:both;display:block;width:100%;border-top:6px dotted #cccccc;padding:20px 0px;margin-bottom:100px;}#form-action-panel .button{font-size:0.9em;text-align:left;}#form-action-panel .button strong{font-size:1.1em;}
#form-action-panel .action-info{font-size:0.8em;padding-top:1em;color:#00b4af;}
#form-action-panel .primary-action{margin:0px 20px 0px 20px;}
#form-action-panel .primary-action,#form-action-panel .secondary-action{float:right;}
#form-action-panel .primary-action .button{text-align:left;padding:1.9em 7em 1.9em 2em;}#form-action-panel .primary-action .button strong{text-transform:uppercase;display:block;margin-bottom:0.3em;}
#form-action-panel .secondary-action .button{width:18em;margin-bottom:0.4em;}
.large-button,.small-button{display:inline-block;zoom:1;*display:inline;vertical-align:baseline;margin:0 2px;outline:none;cursor:pointer;text-align:left;text-decoration:none;padding:14px 20px;line-height:1.2em;padding:14px 20px;line-height:1.2em;color:#444444;border:solid 1px #cccccc;background:#e2e2e2;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));background:-moz-linear-gradient(top, #ffffff, #e2e2e2);background:-o-linear-gradient(top, #ffffff, #e2e2e2);}.large-button:hover,.small-button:hover,.large-button.disabled:hover,.small-button.disabled:hover{background:#d7d7d7;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-o-linear-gradient(top, #ffffff, #d7d7d7);color:#000000;border-color:#b7b7b7;text-decoration:none;}
.large-button:active,.small-button:active,.large-button.disabled:active,.small-button.disabled:active,.large-button:focus,.small-button:focus{color:#000000;background:#b2b2b2;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b2b2b2));background:-moz-linear-gradient(top, #ffffff, #b2b2b2);background:-o-linear-gradient(top, #ffffff, #b2b2b2);}
.large-button.disabled,.small-button.disabled{opacity:0.6;cursor:default;}
.large-button strong,.small-button strong{display:block;}
.small-button{height:36px;line-height:36px;padding:0 12px;min-width:4em;text-align:center;}
.gray,.disabled{color:#686868;border:solid 1px #cccccc;background:#e2e2e2;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));background:-moz-linear-gradient(top, #ffffff, #e2e2e2);background:-o-linear-gradient(top, #ffffff, #e2e2e2);}
.gray:hover,.disabled:hover{background:#d7d7d7;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-o-linear-gradient(top, #ffffff, #d7d7d7);color:#4f4f4f;border-color:#b7b7b7;}
.gray:active,.disabled:active,.gray:focus{color:black;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b2b2b2));background:-moz-linear-gradient(top, #ffffff, #b2b2b2);background:-o-linear-gradient(top, #ffffff, #b2b2b2);}
.large-icon,.medium-icon,.small-icon{display:inline-block;*display:inline;zoom:1;}
.large-icon{padding-left:40px;background:transparent url("../img/button-large-sprite.png?version=${timestamp}") no-repeat 0 0;}.large-icon.save-and-send{background-position:0 2px;}
.large-icon.save-as-draft{background-position:0 -150px;}
.large-icon.cancel{background-position:0 -301px;}
.large-icon.edit{background-position:0 -450px;}
.large-icon.next{background-position:0 -600px;}
.large-icon.delete{background-position:0 -750px;}
.large-icon.mail{background-position:0 -900px;}
.large-icon.document{background-position:0 -1050px;}
.large-icon.folder{background-position:0 -1200px;}
.large-icon.upload{background-position:0 -1350px;}
.large-icon.download{background-position:0 -1500px;}
.large-icon.previous{background-position:0 -1650px;}
.large-icon.add{background-position:0 -1800px;}
.large-icon.stop{background-position:0 -1950px;}
.small-icon{padding-left:30px;background:transparent url("../img/button-small-sprite.png?version=${timestamp}") no-repeat 0 0;}.small-icon.save-and-send{background-position:0 12px;}
.small-icon.save-as-draft{background-position:0 -140px;}
.small-icon.cancel{background-position:0 -291px;}
.small-icon.edit{background-position:0 -440px;}
.small-icon.next{background-position:0 -590px;}
.small-icon.delete{background-position:0 -740px;}
.small-icon.mail{background-position:0 -890px;}
.small-icon.document{background-position:0 -1040px;}
.small-icon.folder{background-position:0 -1190px;}
.small-icon.upload{background-position:0 -1340px;}
.small-icon.download{background-position:0 -1490px;}
.small-icon.previous{background-position:0 -1640px;}
.small-icon.add{background-position:0 -1790px;}
.small-icon.logout{background-position:0 -2090px;}
.small-icon.search{background-position:0 -2240px;}
.file-icon{display:inline-block;width:32px;height:32px;margin:0 0.5em -0.5em 0;}.file-icon.pdf{background:url("../img/pdficon_large.png?version=${timestamp}") no-repeat 0 0;}
.more{float:right;padding-bottom:1px;color:#444;}.more:hover{color:#000000;}
.instruction-text{display:block;font-size:0.8em;color:#686868;}
.initiative-links-area .instruction-text{margin-bottom:1em;}
.initiative-links-area input[type="text"]{height:30px;line-height:30px;margin-bottom:0;padding:0 0.3em;}
input[type="text"]{border:1px solid #cccccc;background:#fefefe;font-size:1em;padding:0.3em;margin:0.2em 0em 1em 0em;transition:box-shadow 0.2s ease-in;-moz-transition:box-shadow 0.2s ease-in;-webkit-transition:box-shadow 0.2s ease-in;-o-transition:box-shadow 0.2s ease-in;}input[type="text"].large{width:98%;}
input[type="text"].medium{width:95%;}
input[type="text"].small{width:60px;}
input[type="text"].search-field{width:250px;height:34px;line-height:34px;padding:0 0.3em;}
textarea{width:98%;margin-top:0.2em;vertical-align:bottom;padding:0.3em;height:6em;border:1px solid #cccccc;resize:vertical;transition:box-shadow 0.2s ease-in;-moz-transition:box-shadow 0.2s ease-in;-webkit-transition:box-shadow 0.2s ease-in;-o-transition:box-shadow 0.2s ease-in;}textarea.noresize{resize:none;}
textarea.textarea-tall{min-height:17em;}
textarea:focus,input[type="text"]:focus,.email-input.focus{box-shadow:0 0 5px rgba(0, 0, 0, 0.2);border:1px solid #bbb;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#999;}
::-webkit-input-placeholder,::-webkit-textarea-placeholder{color:#999;}
input:-ms-input-placeholder,input:-ms-textarea-placeholder{color:#999;}
textarea,input[type="text"]{font-family:'PT Sans',"Trebuchet MS",Helvetica,sans-serif;}textarea.has-error,input[type="text"].has-error{border-color:#be3730 !important;box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.1);}
.has-error{color:#be3730;font-weight:bold;}
input.datepicker{width:110px;margin:0;background:#ffffff url("../img/icons-sprite.png?version=${timestamp}") 97px -57px no-repeat;}
label{display:block;}label input[type="radio"],label input[type="checkbox"]{margin:2px 8px 0 0;float:left;}
label .label{display:block;margin:0 0 0.5em 1.5em;line-height:1.2em;}
label.inline{display:inline;}
label input[type="text"]{display:block;}
.disabled-input{opacity:0.6;}
.input-header{position:relative display: block;margin-right:30px;margin-bottom:0.2em;font-size:1em;}
.initiative-contact-details .input-header{margin:0;}
.alt-lang{padding-top:0.2em;}
.highlighted{padding:5px;margin:-6px;background:#eee;border:1px solid #cccccc;}
.icon-small{display:inline-block;width:12px;height:12px;background:transparent url("../img/icons-sprite.png?version=${timestamp}") 0 0 no-repeat;}.icon-small.settings,.icon-small.logout{position:absolute;right:15px;top:50%;margin-top:-6px;}
.icon-small.settings{background-position:-48px 0;}
.icon-small.logout{background-position:-80px 0;}
.icon-small.dropdown-icon{margin-left:3px;background-position:-96px 3px;}
.icon-small.required{background-position:0 0;}
.icon-small.unconfirmed{background-position:-16px 0;}
.icon-small.confirmed{background-position:-32px 0;}
.icon-small.external{background-position:-144px 1px;margin-left:4px;}
.icon-small.more{width:16px;height:16px;margin:1px 0 0 4px;background-position:-112px 0;}.icon-small.more.less{background-position:-128px 0;}
.icon-small.arrow-right{background-position:-160px 1px;}
.icon-small.arrow-right-2{background-position:-179px 1px;}
.icon-small.arrow-right-3{background-position:-179px -15px;}.icon-small.arrow-right-3.floated{float:left;margin:0.2em 0 0 -16px;}
.icon-small.help{width:27px;height:21px;background-position:0 -96px;}
.add-link{position:relative;display:block;}.add-link .link-input-description,.add-link .link-input-url{position:relative;float:left;width:50%;padding-bottom:1em;}.add-link .link-input-description label,.add-link .link-input-url label{position:relative;}
.add-link label span{font-size:0.9em;}
.add-link .input-header{margin-bottom:0;}
.remove-link{position:absolute;right:-13px;bottom:0;display:block;width:16px;height:30px;line-height:30px;font-size:11px;text-align:center;color:#333;border:1px solid #cccccc;border-top-right-radius:0.4em;border-bottom-right-radius:0.4em;background:#e2e2e2;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));background:-moz-linear-gradient(top, #ffffff, #e2e2e2);background:-o-linear-gradient(top, #ffffff, #e2e2e2);}.remove-link:hover,.remove-link:active{border:solid 1px #b51105;color:white;background:#b61318;background:-webkit-gradient(linear, left top, left bottom, from(#fe000a), to(#a60b00));background:-moz-linear-gradient(top, #fe000a, #a60b00);background:-o-linear-gradient(top, #fe000a, #a60b00);}
.column{width:32%;margin-right:2%;float:left;}.column .role-input-area{border:1px solid #cccccc;padding:0.3em;background:white;height:10em;font-size:0.8em;}
.column.wide{width:66%;}
.column.col-1of2{width:48%;margin-right:4%;}
.column.col-1of4{width:24%;margin-right:1%;}
.column.col-3of4{width:74%;margin-right:1%;}
.column.auto-scale{width:auto;min-width:32%;}
.column.last{margin:0;}
.css-cols-3{-moz-column-count:3;-moz-column-gap:20px;-webkit-column-count:3;-webkit-column-gap:20px;column-count:3;column-gap:20px;}
.help{position:absolute;right:0;top:0;z-index:100;}
.front-page-extras{margin-top:2em;display:block;padding:20px 0px;}.front-page-extras .tag{display:inline-block;color:white;font-size:0.9em;margin:0px 2px 2px 0px;}
.extra-column{width:300px;margin-right:30px;float:left;}.extra-column .extra-column-content{border-right:4px dotted #d0d0d0;padding-right:20px;}
.last-column{margin-right:0px;}.last-column .extra-column-content{border:0;}
.additional-container-body{margin-bottom:3em;}
.additional-container ul,.extra-column ul{list-style:none;margin-left:0px;}.additional-container ul li,.extra-column ul li{margin-left:0px;padding-left:0px;}
#front-page-intro{padding:0px;position:relative;}#front-page-intro .step-indicator{position:absolute;bottom:20px;right:55px;}
#front-page-intro .front-page-intro-text{float:right;color:white;font-weight:bold;text-align:center;width:240px;font-size:1.2em;margin-right:30px;margin-top:80px;padding-top:100px;}
#front-page-intro img{margin:0px;display:block;}
#front-page-intro .step-1{background:#00b4af;}#front-page-intro .step-1 .front-page-intro-text{background:transparent url("../img/front-page-intro-step-1.png?version=${timestamp}") no-repeat top center;}
.forum-additional-info{font-size:0.8em;color:#00b4af;}
#footer{position:absolute;left:0;bottom:0;width:100%;background:#fff;border-top:1px solid #ccc;color:#434343;padding:50px 0px;font-size:0.9em;}#footer .block,#footer .footer-links{float:left;}
#footer .block{width:190px;margin-right:95px;padding-left:50px;height:120px;background:transparent url("../img/footer-logos.png?version=${timestamp}") no-repeat top left;}
#footer .viestintavirasto{background-position:0 -400px;}
#footer ul{width:280px;text-align:left;list-style:none;margin:0px;padding:0px;}#footer ul li{line-height:1.4em;}
.cf:before,.cf:after{content:" ";display:table;}
.cf:after{clear:both;}
.cf{*zoom:1;}
.content-block-header{position:relative;background:#017380;padding:0.5em 25px 0.5em 30px;cursor:pointer;transition:background 0.2s ease-in;-moz-transition:background 0.2s ease-in;-webkit-transition:background 0.2s ease-in;-o-transition:background 0.2s ease-in;}.content-block-header:hover{background:#0c93a4;}
.content-block-header .arrow{position:absolute;right:20px;top:50%;display:block;width:17px;height:17px;margin-top:-8px;background:url("../img/icon-expand.png?version=${timestamp}") no-repeat 0 0;}
.content-block-header.open .arrow{background-position:0 -70px;}
.content-block-header.disabled{opacity:0.6;cursor:default;}.content-block-header.disabled .arrow{display:none;}
.content-block-header.view{z-index:3;background:#fff;}
.content-block-header.faq{margin-top:3em;}.content-block-header.faq h2{padding-bottom:35px;}
.content-block-header h2{margin:0;color:#fff;font-weight:normal;}
.has-errors .content-block-header{cursor:default;}.has-errors .content-block-header:hover{background:#017380;}
.has-errors .content-block-header .arrow{display:none;}
.input-block-content,.input-block-extra,.input-block-action{float:left;}
.input-block-content{width:585px;position:relative;margin-top:2em;}
.initiative-finance-url-area,.initiative-external-support-count{position:relative;margin-top:1em;}
.input-block-extra{float:right;width:220px;margin:20px -15px 0 0;font-size:90%;color:#787878;}.input-block-extra .input-block-extra-content{position:relative;}.input-block-extra .input-block-extra-content p{margin:0px 0px 1em 0px;}
.input-block-action{clear:both;margin-top:25px;}
.required-info{float:right;margin-bottom:0.67em;}
.initiative-content-row{padding-bottom:0.7em;}.initiative-content-row .header{display:block;font-weight:bold;}
.initiative-content-row.last{margin:0;padding:0;border:0;}
.initiative-content-tools{position:absolute;top:23px;right:35px;}
.join-as-user{padding-top:0.4em;}
.no-top-margin{margin-top:0;}
.no-bottom-margin{margin-bottom:0;}
.top-margin{margin-top:1em;}
.test-box{margin-bottom:0.7em;}.test-box .title{padding:0.2em 0.7em;background:#017380;font-size:20px;color:#fff;}
.test-box .content{padding:0.7em;}
.column-separator{background:url("../img/border.png?version=${timestamp}") 291px 0 repeat-y;}
.modal{display:none;z-index:9999;width:600px;max-width:95%;background:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;box-shadow:3px 3px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.1);-webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.1);}.modal.full{width:700px;}
.modal .modal-header{position:relative;padding:10px 20px;border-top-left-radius:0.4em;-moz-border-top-left-radius:0.4em;-webkit-border-top-left-radius:0.4em;border-top-right-radius:0.4em;-moz-border-top-right-radius:0.4em;-webkit-border-top-right-radius:0.4em;background:#e2e2e2;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));background:-moz-linear-gradient(top, #ffffff, #e2e2e2);background:-o-linear-gradient(top, #ffffff, #e2e2e2);text-shadow:1px 1px 0 #ffffff;}.modal .modal-header .close{position:absolute;right:0;top:0;padding:10px 20px;border-left:1px solid #f1f1f1;color:#444444;font-weight:bold;}.modal .modal-header .close:hover{color:#000000;border-top-right-radius:0.4em;-moz-border-top-right-radius:0.4em;-webkit-border-top-right-radius:0.4em;background:#d7d7d7;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-o-linear-gradient(top, #ffffff, #d7d7d7);}
.modal .modal-title{font-weight:bold;}
.modal .modal-content{overflow:auto;padding:20px 30px 30px 30px;background-color:#fff;border-bottom-left-radius:0.4em;-moz-border-bottom-left-radius:0.4em;-webkit-border-bottom-left-radius:0.4em;border-bottom-right-radius:0.4em;-moz-border-bottom-right-radius:0.4em;-webkit-border-bottom-right-radius:0.4em;}
.modal input[type="text"],.modal textarea{margin:0.2em 0 0.5em 0;}
.modal .address-field{height:5.3em;}
.modal .system-msg{margin-top:0;}
.modal form .system-msg{margin:5px 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.tooltip{z-index:1000;background:#087480;font-size:0.9em;padding:0.3em 1em;color:#fff;box-shadow:0px 3px 2px -3px rgba(0, 0, 0, 0.5);}
#calroot{z-index:10000;margin-top:-1px;width:198px;padding:2px;background-color:#fff;font-size:11px;border:1px solid #cccccc;box-shadow:0 0 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);}
#calhead{padding:2px 0;height:22px;}
#caltitle{font-size:15px;color:#087480;float:left;text-align:center;width:155px;line-height:20px;}
#calnext,#calprev{display:block;width:20px;height:20px;background:transparent url("../img/dateinput/prev.png?version=${timestamp}") no-repeat scroll center center;float:left;cursor:pointer;}
#calnext{background-image:url("../img/dateinput/next.png?version=${timestamp}");float:right;}
#calprev.caldisabled,#calnext.caldisabled{visibility:hidden;}
#caltitle select{font-size:10px;}
#caldays{height:14px;border-bottom:1px solid #ddd;}
#caldays span{display:block;float:left;width:28px;text-align:center;}
#calweeks{background-color:#fff;margin-top:4px;}
.calweek{clear:left;height:22px;}
.calweek a{display:block;float:left;width:27px;height:20px;text-decoration:none;font-size:13px;margin-left:1px;text-align:center;line-height:20px;color:#666;-moz-border-radius:3px;-webkit-border-radius:3px;}
.calweek a:hover,.calfocus{background-color:#ddd;}
a.calsun{color:red;}
a.caloff{color:#cccccc;}
a.caloff:hover{background-color:#f5f5fa;}
a.caldisabled{background-color:#efefef !important;color:#cccccc !important;cursor:default;}
#calcurrent{background-color:#087480;color:#fff;}
#caltoday{background-color:#333;color:#fff;}
.system-msg{position:relative;padding:15px 25px 15px 60px;box-shadow:none;margin:1em 0;border-width:1px;border-style:solid;font-size:0.9em;text-align:left;}.system-msg.msg-summary{min-height:67px;margin-bottom:30px;border:0;border-left:4px solid #c3cc13;padding-left:126px;background:#ffffff url("../img/icon-msg-summary.png?version=${timestamp}") no-repeat 32px 27px;}.system-msg.msg-summary .msg-info{background:#fff;margin:0 0 0 5px;padding:1em 0;border:none;font-size:1em;}
.system-msg.msg-info{border-color:#cccccc;background:#e2e2e2 url("../img/icon-msg-info.png?version=${timestamp}") no-repeat 20px 15px;}.system-msg.msg-info .close-msg{background:#cccccc;}
.system-msg.msg-warning{border-color:#e9c000;background:#f7e489 url("../img/icon-msg-warning.png?version=${timestamp}") no-repeat 18px 15px;}.system-msg.msg-warning .close-msg{background:#e9c000;}
.system-msg.msg-error{color:#fff;border-color:#b51105;background:#fa353d url("../img/icon-msg-error.png?version=${timestamp}") no-repeat 15px 15px;}.system-msg.msg-error a{color:#fff;}
.system-msg.msg-error a:hover{color:#fff;text-decoration:underline;}
.system-msg.msg-error .close-msg{background:#b51105;}
.system-msg.msg-success{border:1px solid #7aa63f;background:#b6eb7c url("../img/icon-msg-success.png?version=${timestamp}") no-repeat 15px 15px;color:#254000;}.system-msg.msg-success .close-msg{background:#58831d;color:#b6eb7c;}
.system-msg.small{background-image:none;padding:5px;margin:5px 5px 5px 0;}
.system-msg .close-msg{position:absolute;right:15px;top:18px;display:inline-block;width:16px;height:16px;line-height:13px;text-align:center;font-size:0.85em;color:#fff;opacity:0.5;cursor:pointer;transition:opacity 0.3s ease-in;-moz-transition:opacity 0.3s ease-in;-webkit-transition:opacity 0.3s ease-in;-o-transition:opacity 0.3s ease-in;}
.system-msg:hover .close-msg{opacity:1;}
h1,h2,h3,h4,h5,h6,p{margin-top:0;}
h1{margin-top:1em;font-size:1.5em;line-height:1em;clear:both;color:#111;font-weight:normal;}h1.inline-header{display:inline-block;}
.extra-info{display:block;margin:-0.7em 0 2em 0;}
h2{color:#111;margin-bottom:0.5em;font-weight:normal;}
.view-block h2{color:#017380;}
h3{color:#111;margin-bottom:0.5em;font-weight:normal;}h3.navi-title{margin-right:1em;border-bottom:1px solid #cccccc;}
h4{margin-bottom:0.5em;}h4.header{margin-bottom:0;}
h4.subtle{margin:0;font-weight:normal;}
p{margin:0 0 1em 0;}
ul,ol{margin:0 0 1em 0;padding:0 0 0 2em;}ul.no-style,ol.no-style{margin:0;padding:0;list-style:none;}
ul.alpha,ol.alpha{list-style-type:lower-alpha;}
ul.roman,ol.roman{list-style-type:lower-roman;}
.right{float:right;}
.left{float:left;}
.align-right{text-align:right;}
.align-left{text-align:left;}
.align-center{text-align:center;}
blockquote{margin-bottom:2em;font-style:italic;}
.municipality{margin:0 0 0.5em 0;font-size:3em;text-align:center;line-height:1em;}
.user-count-total{float:left;margin:0 40px 0 0;font-size:3em;font-style:italic;line-height:1em;}
.user-count{font-size:1.7em;font-style:italic;}
.table{display:table;margin-bottom:1em;}.table .row{display:table-row;}
.table .cell{display:table-cell;padding:0.3em 0;width:250px;}.table .cell input[type="text"]{margin:0;}
.table .cell.title{font-weight:bold;}
.table .cell:first-child{width:150px;}
.table .cell-1of3{width:33.3%;}
.table .cell-2of3{width:66.6%;}
.table .cell-1of4{width:25%;}
.table .cell-3of4{width:75%;}
.table.full{width:100%;}
.table.valign-bottom .cell{vertical-align:bottom;}
.switch-view{border-left:1px solid #cccccc;margin-left:1em;padding-left:1.3em;font-size:0.725em;font-weight:normal;}
.search-options{margin-bottom:2em;}.search-options .search-form button{margin-left:32px;vertical-align:bottom;}
.search-terms{margin-bottom:2em;}.search-terms .search-term{font-style:italic;font-weight:bold;}
.search-results ul{margin:0 0 1em 0;padding:0;list-style:none;color:#686868;}
.search-results li{overflow:hidden;position:relative;display:block;margin-bottom:0.7em;padding-top:0.7em;border-top:1px solid #eee;}.search-results li.first{border:0;}
.search-results .date{float:left;}
.search-results .title{display:block;margin:0 15em 0 100px;}
.search-results .info{display:block;font-size:0.9em;margin-left:100px;}
.search-results .support-votes-details{float:right;width:13em;}.search-results .support-votes-details .support-votes-container{position:relative;display:block;overflow:hidden;padding:0.3em 0.7em;background:#f7f7f7;border:1px solid #cccccc;border-radius:0.3em;}
.search-results .support-votes-details .support-votes{position:relative;z-index:2;font-size:1.3em;font-style:italic;color:#444444;text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);}
.search-results .support-votes-details .bar{position:absolute;left:0;top:0;min-width:1px;height:50px;background:#d94e9c;background:-webkit-gradient(linear, left top, left bottom, from(#76b522), to(#387d0e));background:-moz-linear-gradient(top, #76b522, #387d0e);background:-o-linear-gradient(top, #76b522, #387d0e);}
.search-results .support-votes-details .internal-support-votes{display:inline-block;width:100%;text-align:right;font-size:0.8em;}
.search-results .support-votes-details .internal-count{font-size:1.2em;font-weight:bold;}
.some-links{text-align:center;}.some-links .some-title{float:left;height:32px;line-height:32px;margin-right:1em;}
.some-links .icon-some{display:inline-block;height:48px;width:48px;margin-right:1em;opacity:0.9;transition:opacity 0.1s ease-in;-moz-transition:opacity 0.1s ease-in;-webkit-transition:opacity 0.1s ease-in;-o-transition:opacity 0.1s ease-in;background:url("../img/icons-sprite.png?version=${timestamp}") no-repeat 0 -196px;}.some-links .icon-some.facebook{background-position:0 -196px;}
.some-links .icon-some.google{background-position:-64px -196px;}
.some-links .icon-some.twitter{background-position:-128px -196px;}
.some-links .icon-some:hover{opacity:1;}
table.data{background:#fff;margin-bottom:2em;}table.data th{white-space:nowrap;text-align:left;padding:0.3em;background:#e2e2e2;}
table.data tr:hover{background:#f1f1f1;}
table.data td{border-top:1px solid #eee;padding:0.3em;}
table.data td.apiExample{white-space:pre nowrap;font-family:monospace;font-size:0.9em;}
.status{min-width:600px;}.status td:first-child{width:300px;}
.chzn-select{width:250px;}
.chzn-container{display:block;font-size:1em;}.chzn-container .chzn-single{height:34px;line-height:34px;margin:0.2em 0 0 0;padding:0 0.3em;border:1px solid #cccccc;background:#fff;font-size:1em;border-radius:0;box-shadow:none;transition:box-shadow 0.2s ease-in;-moz-transition:box-shadow 0.2s ease-in;-webkit-transition:box-shadow 0.2s ease-in;-o-transition:box-shadow 0.2s ease-in;}.chzn-container .chzn-single div{width:33px;border-left:1px solid #cccccc;background:#e2e2e2;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));background:-moz-linear-gradient(top, #ffffff, #e2e2e2);background:-o-linear-gradient(top, #ffffff, #e2e2e2);}.chzn-container .chzn-single div:hover{background:#d7d7d7;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-o-linear-gradient(top, #ffffff, #d7d7d7);}
.chzn-container .chzn-single div b{background:url("../img/icon-arrow-down.png?version=${timestamp}") no-repeat 50% 50%;}
.chzn-container input[type="text"]:focus{box-shadow:none;}
.chzn-container .chzn-results{padding:0 4px;}.chzn-container .chzn-results .highlighted{background-color:#0c93a4;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#0ea9bc', endColorstr='#0c93a4', GradientType=0);background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #0ea9bc), color-stop(90%, #0c93a4));background-image:-webkit-linear-gradient(top, #0ea9bc 20%, #0c93a4 90%);background-image:-moz-linear-gradient(top, #0ea9bc 20%, #0c93a4 90%);background-image:-o-linear-gradient(top, #0ea9bc 20%, #0c93a4 90%);background-image:linear-gradient(#0ea9bc 20%, #0c93a4 90%);color:#fff;border:0;}
.chzn-container.chzn-container-single .chzn-drop{border-radius:0;}
