// Gradients are made as images for IE

/*.dimmed (@opacity) {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = @opacity);
}*/

.large-button, .small-button, .gray, a.disabled, button.disabled {
    background:#fff url("../img/ie/gradient-gray.png?version=${timestamp}") left bottom repeat-x;
    
    &:hover { background:#fff url("../img/ie/gradient-gray-hover.png?version=${timestamp}") left bottom repeat-x; }
    &:active { background:#fff url("../img/ie/gradient-gray-active.png?version=${timestamp}") left bottom repeat-x; }
}

.modal {
    .modal-header {
        background:#fff url("../img/ie/gradient-gray.png?version=${timestamp}") left bottom repeat-x;
        
        .close {
            background:#fff url("../img/ie/gradient-gray.png?version=${timestamp}") left bottom repeat-x;
        
            &:hover { background:#fff url("../img/ie/gradient-gray-hover.png?version=${timestamp}") left bottom repeat-x; }
            &:active { background:#fff url("../img/ie/gradient-gray-active.png?version=${timestamp}") left bottom repeat-x; }
        }
    }
}

// Search results
.search-results .support-votes-details .bar {
    background:#76b522 url("../img/ie/gradient-green.png?version=${timestamp}") left bottom repeat-x;
}

// IE 6 & 7 specific styles
.ie6, .ie7  {
    #header { position:relative; }

    .support-votes, .font-size-toggle a,
    .initiative-content-row { display:inline-block; }
    
    .font-size-toggle a {
        line-height:19px;
    }

    
    // CSS Tables
    .table {
        display:inline-block;
    
        .row { 
            clear:both;
        }
        .cell {
            float:left;
        }
    }
    
    // Icons 
    .icon-small { margin-bottom:0.3em; }
    .push { position:static; margin-left:1em; }
    
    .participant-list {
        li { height:1%; }
    }     
} 

// IE 6 & 7 & specific styles
.ie6, .ie7, .ie8  {

    .expose-mask {
        background:#eee;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 90);
    }

    .large-button, .small-button {
        &.disabled {
           filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 60);
        }
    }
    
    .content-block-header.disabled {
       //dimmed(60);
       filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 60);
    }  
}
