/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
input,
select,
textarea {
    font-family: sans-serif;
}


/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
html{height:100%;font-size:13px;}
body{height:100%;font-family:'PT Sans',"Trebuchet MS",Helvetica,sans-serif;color:#444444;background:#fff;}
#content-wrapper{position:absolute;top:45px;left:0;right:0;bottom:0;overflow-y:auto;padding-top:20px;border:1px solid #cccccc;border-top:0;}
.container{max-width:940px;padding:7px 10px;clear:both;}
#content{padding-bottom:250px;}
.two-column-content .content-column{width:640px;float:left;margin-right:20px;}
#header{position:relative;z-index:1;background:#f0f0f0;border:1px solid #cccccc;}#header #header-content{position:relative;height:130px;margin:0 auto;}#header #header-content #header-additional-content{position:absolute;right:0px;top:20px;text-align:right;}
#header #logo{float:right;width:144px;height:30px;background:url("../img/logo-kuntalaisaloite-small.png?version=${timestamp}") 0 0 no-repeat;}
#header #logo span{display:none;}
#header h3{margin:0;line-height:30px;}
.push{position:relative;left:1em;}
.pull{position:relative;left:-1em;}
.pushdown{position:relative;top:1em;}
.pullup{position:relative;top:-1em;}
.hide,.js .js-hide{display:none;}
html.no-js .hidden,html.no-js .help,html.no-js .close-msg{display:none;}
.clear{clear:both;}
#header ul{margin:0px;padding:0px;list-style:none;}#header ul li{display:inline;}
a{text-decoration:none;color:#0089f2;cursor:pointer;outline:none;}
a:hover{color:#0070c5;outline:none;}
a:active{outline:none;}
a.external{padding-right:15px;background:url("../img/icon-external-link.png?version=${timestamp}") right center no-repeat;}
.ellipsis{display:inline-block;max-width:90%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
a.block-link{display:block;height:38px;line-height:38px;margin-bottom:1em;padding:0 2.5em 0 0.9em;background:#017380 url("../img/icons-sprite.png?version=${timestamp}") right -149px no-repeat;color:#fff;font-weight:bold;transition:background-color 0.2s ease-in;-moz-transition:background-color 0.2s ease-in;-webkit-transition:background-color 0.2s ease-in;-o-transition:background-color 0.2s ease-in;}a.block-link:hover{background-color:#015c66;}
.sv.font-size-large a.block-link{font-size:16px;}
.news-date{display:block;margin-bottom:1em;font-weight:bold;border-bottom:1px solid #cccccc;}
.initiative-content-header{position:relative;}
.large-button,.small-button{display:inline-block;zoom:1;*display:inline;vertical-align:baseline;margin:0 2px;outline:none;cursor:pointer;text-align:left;text-decoration:none;padding:14px 20px;line-height:1.2em;padding:14px 20px;line-height:1.2em;color:#444444;border:solid 1px #cccccc;background:#e2e2e2;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));background:-moz-linear-gradient(top, #ffffff, #e2e2e2);background:-o-linear-gradient(top, #ffffff, #e2e2e2);}.large-button:hover,.small-button:hover,.large-button.disabled:hover,.small-button.disabled:hover{background:#d7d7d7;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-o-linear-gradient(top, #ffffff, #d7d7d7);color:#000000;border-color:#b7b7b7;text-decoration:none;}
.large-button:active,.small-button:active,.large-button.disabled:active,.small-button.disabled:active,.large-button:focus,.small-button:focus{color:#000000;background:#b2b2b2;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b2b2b2));background:-moz-linear-gradient(top, #ffffff, #b2b2b2);background:-o-linear-gradient(top, #ffffff, #b2b2b2);}
.large-button.disabled,.small-button.disabled{opacity:0.6;cursor:default;}
.large-button strong,.small-button strong{display:block;}
.small-button{height:36px;line-height:36px;padding:0 12px;min-width:4em;text-align:center;}
.gray,.disabled{color:#686868;border:solid 1px #cccccc;background:#e2e2e2;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));background:-moz-linear-gradient(top, #ffffff, #e2e2e2);background:-o-linear-gradient(top, #ffffff, #e2e2e2);}
.gray:hover,.disabled:hover{background:#d7d7d7;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-o-linear-gradient(top, #ffffff, #d7d7d7);color:#4f4f4f;border-color:#b7b7b7;}
.gray:active,.disabled:active,.gray:focus{color:black;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b2b2b2));background:-moz-linear-gradient(top, #ffffff, #b2b2b2);background:-o-linear-gradient(top, #ffffff, #b2b2b2);}
.large-icon,.medium-icon,.small-icon{display:inline-block;*display:inline;zoom:1;}
.large-icon{padding-left:40px;background:transparent url("../img/button-large-sprite.png?version=${timestamp}") no-repeat 0 0;}.large-icon.save-and-send{background-position:0 2px;}
.large-icon.save-as-draft{background-position:0 -150px;}
.large-icon.cancel{background-position:0 -301px;}
.large-icon.edit{background-position:0 -450px;}
.large-icon.next{background-position:0 -600px;}
.large-icon.delete{background-position:0 -750px;}
.large-icon.mail{background-position:0 -900px;}
.large-icon.document{background-position:0 -1050px;}
.large-icon.folder{background-position:0 -1200px;}
.large-icon.upload{background-position:0 -1350px;}
.large-icon.download{background-position:0 -1500px;}
.large-icon.previous{background-position:0 -1650px;}
.large-icon.add{background-position:0 -1800px;}
.large-icon.stop{background-position:0 -1950px;}
.small-icon{padding-left:30px;background:transparent url("../img/button-small-sprite.png?version=${timestamp}") no-repeat 0 0;}.small-icon.save-and-send{background-position:0 12px;}
.small-icon.save-as-draft{background-position:0 -140px;}
.small-icon.cancel{background-position:0 -291px;}
.small-icon.edit{background-position:0 -440px;}
.small-icon.next{background-position:0 -590px;}
.small-icon.delete{background-position:0 -740px;}
.small-icon.mail{background-position:0 -890px;}
.small-icon.document{background-position:0 -1040px;}
.small-icon.folder{background-position:0 -1190px;}
.small-icon.upload{background-position:0 -1340px;}
.small-icon.download{background-position:0 -1490px;}
.small-icon.previous{background-position:0 -1640px;}
.small-icon.add{background-position:0 -1790px;}
.small-icon.logout{background-position:0 -2090px;}
.small-icon.search{background-position:0 -2240px;}
.column{width:32%;margin-right:2%;float:left;}.column .role-input-area{border:1px solid #cccccc;padding:0.3em;background:white;height:10em;font-size:0.8em;}
.column.wide{width:66%;}
.column.col-1of2{width:48%;margin-right:4%;}
.column.col-1of4{width:24%;margin-right:1%;}
.column.col-3of4{width:74%;margin-right:1%;}
.column.auto-scale{width:auto;min-width:32%;}
.column.last{margin:0;}
.column textarea{width:96%;}
.css-cols-3{-moz-column-count:3;-moz-column-gap:20px;-webkit-column-count:3;-webkit-column-gap:20px;column-count:3;column-gap:20px;}
.last-column{margin-right:0px;}.last-column .extra-column-content{border:0;}
.cf:before,.cf:after{content:" ";display:table;}
.cf:after{clear:both;}
.cf{*zoom:1;}
.no-top-margin{margin-top:0;}
.no-bottom-margin{margin-bottom:0;}
.top-margin{margin-top:1em;}
.column-separator{background:url("../img/border.png?version=${timestamp}") 291px 0 repeat-y;}
h1,h2,h3,h4,h5,h6,p{margin-top:0;}
h1{margin-top:1em;font-size:1.5em;line-height:1em;clear:both;color:#111;font-weight:normal;}h1.inline-header{display:inline-block;}
.extra-info{display:block;margin:-0.7em 0 2em 0;}
h2{color:#111;margin-bottom:0.5em;font-weight:normal;}
.view-block h2{color:#017380;}
h3{color:#111;margin-bottom:0.5em;font-weight:normal;}h3.navi-title{margin-right:1em;border-bottom:1px solid #cccccc;}
h4{margin-bottom:0.5em;}h4.header{margin-bottom:0;}
h4.subtle{margin:0;font-weight:normal;}
p{margin:0 0 1em 0;}
ul,ol{margin:0 0 1em 0;padding:0 0 0 2em;}ul.no-style,ol.no-style{margin:0;padding:0;list-style:none;}
ul.alpha,ol.alpha{list-style-type:lower-alpha;}
ul.roman,ol.roman{list-style-type:lower-roman;}
.right{float:right;}
.left{float:left;}
.align-right{text-align:right;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.switch-view{border-left:1px solid #cccccc;margin-left:1em;padding-left:1.3em;font-size:0.725em;font-weight:normal;}
.search-options{margin-bottom:2em;}.search-options .search-form button{margin-left:32px;vertical-align:bottom;}
.search-options .search-form select{margin-top:0.5em;}
.search-terms{margin-bottom:2em;}.search-terms .search-term{font-style:italic;font-weight:bold;}
.search-results ul{margin:0 0 1em 0;padding:0;list-style:none;color:#686868;}
.search-results li{overflow:hidden;position:relative;display:block;padding:0 0 0.7em 0;}
.search-results .date{float:left;}
.search-results .title{display:block;margin:0 0 0 6em;}
.search-results .info{display:block;font-size:0.9em;margin-left:100px;}
.search-results .bull{margin:0 0.5em;font-size:0.8em;color:#cccccc;}
.mashup-buttons .description{display:block;margin:0.3em 0 0 0;}
.ie6 body.medium #content-wrapper,.ie7 body.medium #content-wrapper,.ie8 body.medium #content-wrapper,.ie6 body.small #content-wrapper,.ie7 body.small #content-wrapper,.ie8 body.small #content-wrapper{top:75px;padding-top:10px;}
.ie6 body.medium #header #logo,.ie7 body.medium #header #logo,.ie8 body.medium #header #logo,.ie6 body.small #header #logo,.ie7 body.small #header #logo,.ie8 body.small #header #logo{float:left;}
.ie6 body.medium #header h3,.ie7 body.medium #header h3,.ie8 body.medium #header h3,.ie6 body.small #header h3,.ie7 body.small #header h3,.ie8 body.small #header h3{clear:both;margin:0;padding:0.5em 0 0 0;line-height:1.4em;}
.ie6 body.medium .container,.ie7 body.medium .container,.ie8 body.medium .container,.ie6 body.small .container,.ie7 body.small .container,.ie8 body.small .container{padding:7px;}
.ie6 body.medium .column.col-1of2,.ie7 body.medium .column.col-1of2,.ie8 body.medium .column.col-1of2,.ie6 body.small .column.col-1of2,.ie7 body.small .column.col-1of2,.ie8 body.small .column.col-1of2{float:none;width:100%;margin:0 0 1em 0;}
.ie6 body.medium h1,.ie7 body.medium h1,.ie8 body.medium h1,.ie6 body.small h1,.ie7 body.small h1,.ie8 body.small h1{margin-top:0;}
.ie6 body.small .search-results .title,.ie7 body.small .search-results .title,.ie8 body.small .search-results .title{margin:0;}
.ie6 body.small .search-results .date,.ie7 body.small .search-results .date,.ie8 body.small .search-results .date{float:none;}
@media (max-width:480px){#content-wrapper{top:75px;padding-top:10px;} #header #logo{float:left;} #header h3{clear:both;margin:0;padding:0.5em 0 0 0;line-height:1.4em;} .container{padding:7px;} .column.col-1of2{float:none;width:100%;margin:0 0 1em 0;} h1{margin-top:0;}}@media (max-width:300px){.search-results .title{margin:0;} .search-results .date{float:none;}}
